

  .pinterest-layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin: 10px; /* Adjust the margin as needed */
    overflow: hidden;
    border-radius: 10px; /* Optional */
    height: 250px;
    width: 30%;
    
    align-items: center;
    justify-content: center;
  }
  
  .column img {
    width: 350px; /* Adjust the width as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    border-radius: 10px; /* Optional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional */
    transition: all 0.2s ease-in-out;
  } 


  .column img:hover{
    transform: scale(1.5);
    transform-origin: center;
    
  } 

  .app_loader{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid white;
    border-top: 5px solid  black ;
    animation: spin 1s linear infinite;
    margin: 4px;
  }
  .explore_icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 8px 0px;
    transform: translate(0px , 50px);
    transition: all 0.2s ease-in-out;

  }
  .column:hover .explore_icons{
    transform: translate(0px , 0px);  
  }
  .explore_fonts{
    font-size: 12px;
    font-weight: 600;
  }
  .explore_images_share{
    top: 1px;
    right: 1px;
    transition: all 0.2s ease-in-out;
    transform: translate(0px , -50px);
    cursor: pointer;

  }
  .explore_image_share_icon{
    background: white;
    padding: 8px;
    border-radius: 30px;
  }
  .column:hover .explore_images_share{
    transform: translate(0px , 0px);  
  }
  .width_31{
    width: 31% !important;
  }
  /* Styles for app-container  in mobile devices*/
@media screen and (max-width : 992px){
  .column{
    width: 30% !important;
    height: 200px;
  }
}
@media screen and (max-width : 620px){
  .column{
    width: 45% !important;
    height: 240px;
  }
}
@media screen and (max-width : 580px){
  .column{
    width: 45% !important;
    height: 200px;
  }

}
@media screen and (max-width : 480px){
  .column{
    width: 100% !important;
    height: 250px;
  }
}