
.feature-section {
  /* background: linear-gradient(135deg, #eef2f7, #ffffff); */
  /* background: #000000; */
  /* background: linear-gradient(135deg, #000000 0%, #1C2526 100%); */
  
  background: #f8f9fa;
  /* background: red; */
  /* background: #8cb4dc36; */
  /* background-color: white; */

  /* background-color: #E6F0FA; */
  
  /* background: linear-gradient(135deg, #E6F0FA  30%, #E8ECEF 100%); */
  padding: 20px 20px 50px 20px;
  margin-bottom: 50px;
  border-radius: 40px 40px 0px 0px;
  /* border-radius: 40px; */
}

.feature-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  
}


.feature-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 30px;
  width: 320px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid #f8f9fa;
  transform-style: preserve-3d;
  /* animation: fadeInUp 0.6s ease forwards; */
  font-family: 'Roboto';
  align-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  border: 2px solid #f8f9fa;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-20deg);
  transition: all 0.5s ease;

  
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.feature-card:hover {
  transform: rotateX(3deg) rotateY(3deg) scale(1.03);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border: 2px solid white;
  background-color: #f8f9fa;
  /* background-color: black; */
  

  
  
}

.feature-card:hover::after {
  left: 200%;
}
.feature-card:hover .feature-btn {
  transform: scale(1.05);
}



.feature-icon-wrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
}

.feature-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.feature-card h3 {
  font-size: 22px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 15px;
}

.feature-card p {
  /* font-size: 16px;
  color: #6b7280; */
  font-size: 12px !important;
    color: #938f8f;
    line-height: 20px;
    font-family: 'Roboto';
  margin-bottom: 25px;
  font-weight: 500;
}

.feature-cards-wrapper .badge{
  font-size: 12px !important;
      background: #f8f9fa;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 15px;
    color: black;
    font-weight: 900;
}



/* Glow the button slightly on hover */
.feature-btn {
  background: #111827;
  color: white;
  border: none;
  padding: 12px 24px;
  /* border-radius: 10px; */
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  z-index: 1;
  position: relative;
  font-family: 'Roboto';
  width: 90%;
  margin-bottom: 15px;
  margin-top: 4px;
  
}

.feature-btn:hover  {
  
  background: #1f2937; 
  transform: scale(1) !important;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
}


.feature-emoji{
  font-size: 40px;
  margin-bottom: 15px;
  /* filter: invert(); */
}





/* .feature-card:nth-child(2) {
  background-color: #f8f9fa;
  border: 2px solid white;
} */

.app_feature_icons{
  top: 10px;
  right: 10px;
  opacity: 0;
  font-size: 0px;
  padding: 8px 8px 5px 8px;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid transparent; */
  border-radius: 50px;
  
}
.app_feature_icons:hover{
  
  border-radius: 50px;
  /* padding: 8px 10px; */
  /* border: 2px solid white; */
  font-size: 22px !important;
  background-color: rgb(219 219 219 / 24%) !important;
  /* background-color: #f8f9fa !important; */
  cursor: pointer;
  /* transition: all 0.3s ease-out; */
  /* border: transparent !important; */
  
}

.feature-card:hover .app_feature_icons {
  opacity: 100%;
  background-color: white;
  font-size: 22px;
}


/* hover effect for the app feature icons */

.feature-card.hovered {
  transform: rotateX(3deg) rotateY(3deg) scale(1.03);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border: 2px solid white;
  background-color: #f8f9fa;
  transition: all 0.3s ease-in;
}
.feature-card.hovered .app_feature_icons {
  opacity: 100%;
  background-color: white;
  font-size: 22px;
}
.feature-card.hovered .feature-btn {
  transform: scale(1.05);
}
.feature-card.hovered::after {
  left: 200%;
}

.app_section_heading{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 30px;
  font-family: 'Roboto';
  letter-spacing: 0.5px;
}

.app_download_assets{
      /* width: 100%; */
     /* border-top: 1px solid #00000033; 
     border-bottom: 1px solid #00000033;  */
    padding: 10px 20px !important;
    /* color: black  !important; */
    /* background: #f8f9fa; */
    border-radius: 50px;
    font-size: 12px !important;
    /* border : 2px solid #f8f9fa; */
    /* background: transparent !important; */


    /* width: fit-content; */
    /* padding: 10px 20px;
    display: block;
    margin: 25px auto; */


    
}

/* Media Queries for Responsive Design Start Here */

@media (max-width: 750px) {
  .feature-card {
    width: 100% ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
    .feature-btn{
    width: 60%;
  }
  .app_download_assets{
    margin-bottom: 20px !important;
  }
}

@media (max-width: 550px) {
.app_section_heading{
  font-size: 22px;
  margin-bottom: 20px !important;
          position: sticky;
        left: 0%;
        top: 0;

}
  .feature-section{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: 40px;
    padding: 30px 10px 40px 10px;
  }
 
  .feature-cards-wrapper{
      display: inline-flex;
      flex-wrap: nowrap;
     align-items: center;
     justify-content: center;
      /* overflow-x: auto; */
       /* 
              max-width: 100%;
        overflow-x: scroll; */
        gap: 20px;

  }
    .app_feature_icons{
        opacity: 100% !important;
  background-color: white !important;
  font-size: 22px !important;
    }
  .feature-card {
    width: 350px;
    margin-bottom: 0px;
    max-width: 330px;
     scroll-snap-align: center;
    height: fit-content;
    flex: 0 0 auto;
    box-shadow: none;
  }
    /* Hide scrollbars */
  .feature-section::-webkit-scrollbar {
    display: none;
  }

  .feature-btn{
    width: 100%;
  }
}
/* Media Queries for Responsive Design End here*/

/* customise scrollbar from start here*/
/* .feature-cards-wrapper::-webkit-scrollbar {
  height: 0px; 
}
 .feature-cards-wrapper::-webkit-scrollbar-track {
  background: #f8f9fa !important;
  }

.feature-cards-wrapper::-webkit-scrollbar-thumb {
  background: #f8f9fa !important; 
  border-radius: 5px;
}

.feature-cards-wrapper::-webkit-scrollbar-thumb:hover {
  background: #f8f9fa !important; 
} */
/* customise scrollbar from End here*/