.app_nav_logo{
        background: black;
    color: white;
    padding: 10px 13px 10px 10px;
    border-radius: 50px;
    transform: rotate(9deg);
}

.desktop_feedback:hover {
background-color: #00000033 ;
color: black ;

}
.mobile_feedback {
background-color: #00000033 !important;
color: black !important;

}

.saved_rows{
    margin-top: 100px;
}
.saved_container{
    column-count: 2 !important; 
}