.app_nav_logo{
        background: black;
    color: white;
    padding: 10px 13px 10px 10px;
    border-radius: 50px;
    transform: rotate(9deg);
}

.desktop_feedback:hover {
background-color: #00000033 ;
color: black ;

}
.mobile_feedback {
background-color: #00000033 !important;
color: black !important;

}

.saved_rows{
    margin-top: 130px;
}
/* .saved_rows .cart_header{
    padding: 15px 15px 15px 10px !important;
    top: 55px;
} */
.cart_header{
    padding: 15px 15px 15px 10px !important;
    top: 65px !important;
}
.saved_container{
    column-count: 2 !important; 
}
.adjust_padding{
    padding: 8px 0px !important;
}
.icon_area sup{
    top: -9px !important;
    right: -10px !important;

}

@media screen and (max-width: 999px) {
    .adjust_padding{
        padding: 0px !important;
    }
    .icon_area sup{
    top: -7px !important;

}
.cart_header{
    
    top: 55px !important;
}
    
}