.custom-select-box {
  width: 260px;
  position: relative;
  font-family: "Roboto";
  width: 49%;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid #ccc;
  
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.dropdown-option {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-option:hover
{
  background-color: #f0f0f0;
}

.dropdown-option .icon {
  margin-right: 8px;
}
/* .dropdown-option .text {
  position: relative;
  top: 1px;
} */

.dropdown-option.active-f {
    background-color: #f0f0f0;
    border-bottom:none !important;
}
.selected_correct_icon{
    position: absolute;
    right: 12px;
    color: black;
}
 .dropdown-list::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 580px){
    .custom-select-box {
        width: 100%;
    }
    .selected-option{}
  }

  /* Above style for the dropwdown ------------------------------------------------------------------------------- */

  /* Start design for the scroll div ------------------------------------------------------------------------------- */
.custom-select-box{
  /* width: 260px; */
  position: relative;
  font-family: "Roboto";
  width: 49%;
  display: flex;
  padding: 10px;
  border-radius: 50px;
  background-color: #f8f9fa;
  align-items: center;
  gap: 10px;
}

.custom-select-box p{
    margin: 0px !important;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
    flex:none ;
}
.font_family_set_container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0px 10px;
    padding: 10px;
    background-color: #ffffffff;
    border-radius: 50px;
      overflow-x: auto;
}
 .font_family_set_container::-webkit-scrollbar {
    display: none;
  }
.font_family_set_container .ff_family{
       background-color: #f8f9fa;
    /* padding: 10px 20px; */
    padding: 5px 15px 8px 13px;
    border-radius: 82px;
    font-size: 14px;
    cursor: pointer;
    color: #808080;
    font-weight: 500;
    border: 2px solid transparent;
        display: flex;
    gap: 0px 8px;
    align-items: center;


  
    
}
.family_text{
    position: relative;
    top: 1px;
}
.font_family_set_container .ff_family:hover{
      border: 2px solid black;
      color: black
}
.active-f{
  background-color: white !important;
    /* border-bottom:none !important; */
    border: 2px solid black !important; 
    color: black !important;
    background-color: black;
    color: white
}

 @media (max-width: 580px){
    .custom-select-box {
        width: 100% !important;
    }
    
  }
  /* End design for the scroll div ------------------------------------------------------------------------------- */