@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.App {
  text-align: center;
 
}

body{
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar{
  background-color: white;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05)
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navform{
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.navul{
  width: 74vw;
}
.navbtn{
  margin-left: 1rem;
}
.aboutheading{
  font-size: 30px;
}
.lowercasebtn{
  margin-left: 1rem;
}
.card{
 width: 15rem !important;
 display: flex !important;
 flex-direction: column !important;
 justify-content: center !important;
 align-items: center !important;
 text-align: center !important;
 padding: 0px 0px !important;
 margin: 5px 5px !important;
}
.card .card-img-top{
  width: 100% !important;
 
}
 .firstfooter{
  margin-top:2rem !important;
  padding: 0px !important;
}
.footerend{
  background-color: rgba(0, 0, 0, 0.05);
}
.homecontainer{
  display:flex !important;
  flex-wrap: wrap !important;
  
 
}
.card-title{
  font-size: 12px !important;
}
.maxwidth{
  max-width: 45%;
  
}
.gallerycol{
  display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 0px;
    width: 24%;
    border-radius: 10px;
}
.mediacontent{
  width: 95%;
  margin: 5px auto;
  padding: 10px 0px;
}
.viewgallerybtn{
  width: 100%  !important;
  margin: 10px auto  !important;
}
.galleryimg{
  width: 100% !important;
    height: 250px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: normal !important;
    border-radius: 10px;
    margin: 0px auto;
}
.gallerytitle {
  font-size: 21px !important;
    font-weight: 600;
}


.galleryimg img{
  border-radius: 10px 10px 0px 0px;
  height: 250px !important;
  object-fit: cover !important;
  width: 100% !important;
  object-position: center center;
}
.user_favourite_items{
  width: 23%;
  background: #ffffff;
  padding: 8px 8px 0px 8px;
  height: fit-content;
}

.user_favourite_image{
  height: 180px !important;
}
.user_favourite_image img{
  height: 180px !important;
}
@media (max-width:767px){
  .gallerycol{
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
    margin: 5px auto;
    width: 89%;
  }
}
.totalgal{
  font-size: 10px;
    font-weight: 700;
    color: #5a3e3ebf;
}
.myalert{
  border: 2px solid solid #696cff;
  border-Width: 0 0 0 6px;
 
  background: #696cff;
  color: white !important;

  width: 30%;
  padding: 10px;
  display: flex;
  align-items: center;
justify-content: center !important;
  transform: translate(0%, -270%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin: 10px auto;
}


.showalert{
  transform: translate(0%, 0%) !important;
  visibility: visible !important;
  opacity: 1 !important;
}
.downloadcentercontainer{

width:60%;
}
.image-gallery {
  width: 50%;
  margin:auto;
}
.image-gallery-image{
  width: 100%;
  position: relative;
}
.image-gallery-icon {
  position: absolute;
}
.mt-74{
  margin-top: 70px ;
}
.mt-ps90{
  
  margin-top: 90px;
}
.loader {
  
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000203;
  width: 50px;
  position: relative;
  margin-top: 14rem;
  height: 50px;
  top: 30%;
 bottom: 4rem;
  animation: spin 2s linear infinite;
  left: 50%;
  transform: translate(-50%, -50%);

}
.margin_top_setzero{
  margin-top: 0 !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.productname{
  font-size: 14px !important;
}
.p_s_btn{
  width: 48.5%;
  font-family: 'Roboto';
  font-weight: 500;

  
}
.p_btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_area{
  background: black;
padding: 5px 13px 6px 13px;
border-radius: 31px;
display: flex;
cursor: pointer;
align-items: center;
position: relative;
}
.icon_area i{
  font-size: 12px;
  color: white;
  margin-right: 5px;
}
.icon_area span{
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto' !important;

}
.icon_area sup{
  background: #eee;
  padding: 12px 9px;
  border-radius: 50%;
  font-weight: 700;
  position: absolute;
  right: -11px;
  top: -11px;
}
.cart_container{
  max-width: 25% !important;
position: fixed;
height: 100vh;
background-color: white;
top: 0;
bottom: 0;
padding: 0px !important;
right: 0;
z-index: 9999;
border-radius: 0px 0px 0px 0px;
border: 1px solid #eee;
overflow-y: scroll;

}

.cart_row{
  padding: 0px 0px;
  margin-left: 0px !important;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user_cart_img{
  width: 50%;
  margin: 0px auto;
  
}
.cart_header h1{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  font-weight: 600;
}
.cart_header{
  padding: 10px 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  justify-content: space-between;
  position: fixed;
  top: 56px;
  background: white;
  /* left: 0; */
  /* right: 0; */
  width: calc(100% - 76.2%);
  z-index: 9;

}

.cart_header i{
  font-size: 15px;
  background: black;
  padding: 7px 9px;
  border-radius: 50%;
  cursor: pointer;
  color: white
}
.app_cross_icon{
  font-size: 15px;
  background: black;
  padding: 7px 9px;
  border-radius: 50%;
  cursor: pointer;
  color: white
}
.cart_header i:hover{
  background-color:#000000b8;
}


.iconblink{
transform: scale(0.9); 
}
.iconblinktwo{
transform: scale(1); 
}
.cart_container_fluid{
  background-color: rgba(43, 52, 69, 0.1);
position: fixed;
width: 100% !important;
height: 100vh;
position: fixed;
top: 0;
padding: 0;
z-index: 999;
transform: translate(120%,0%);
transition: all 0.1s ease-in-out;
}
.like_container_fluid{
  transform: translate(0%,-150%);
  padding: 70px 0px 0px 0px;
  background-color: #ffffffcf;
}
.show_cart_container{
  transform: translate(0%,0%);
transition: all 0.1s ease-in-out;

}
.user_likes_columns{
  display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    gap: 5px 12px;
    justify-content: center;
    background-color: #f8f9fa !important;
    flex-wrap: wrap;
    
}
.like_inside_container{
  padding: 5px 20px !important;
  transform: translate(0%,-150%);
  max-width: 80%;
  transition: all 0.1s ease-in-out;

}

.show_like_container{
  transform: translate(0%,0%);
  transition: all 0.1s ease-in-out;
}
.blinking_aninmation{
  animation: blink 1s infinite;
  transition: all 0.2s ease-in-out;
}

@keyframes blink {
  0% {
    background-color: rgba(255, 26, 53, 0.952);
    transform: scale(0.9);
  }
  100% {
    background-color: black;
    transform: scale(1);
 
  }
}
/* Coustom Slider Style Starts Here ----------------------------*/
/* .slider-container { */
  /* max-width: 600px; */
  /* margin: 0 auto;
  position: relative;
  overflow: hidden;
} */
/* 
.cards-slider {
  display: flex;
  width: fit-content;
  margin: 0px auto;
  transform: translateX(0);
  transition: transform 4s ease;

  

}

.card {
  margin-right: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 20vw;
}

.card img {
  width: 100%;
  height: auto;
}

.card-info {
  text-align: center;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

#prev-btn {
  left: 10px;
  cursor: pointer;
}

#next-btn {
  right: 10px;
  cursor: pointer;

} */
/* Coustom Slider Style End Here ----------------------------*/
.cart_footer{
  position: fixed;

bottom: 0;
background: white;
width: calc(100% - 76.2%);
}
.cart_seter{
  padding: 0px 0px 0px 3px !important;

}
.cart_set_fixed_width{
  width: 100% !important;
  
  padding: 20px 10px;
}
.cart_button{
  justify-content: space-between;
}
.cart_continue_btn{
  padding: 4px 20px 5px 20px !important;
  border-radius: 50px;
}
.active{
  color: black !important;
  font-weight:600;
  border-bottom: 2px solid black;
}
.brand_button{
  background: black;
  border: none !important;
  width: fit-content;
  padding: 5px 20px;
 font-weight: 400;
  border-radius: 50px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_heading{
  font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}
.brand_color{
  background: black;
  border: none;
  font-family: "Roboto";  
  padding: 6px 20px;
  font-size: 14px;
  letter-spacing: 0.3px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}
.app_short_content{  
font-size: 14px !important;
font-weight: 500;
color:#5a3e3ebf;
}
.brand_heading{
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0px 20px 0px;
  transition: all 0.2s ease-in-out;

}
.brand_color:hover{
  background-color: #000000b8;
}
.brand_heading:hover{
  color: #000000b8;

}
.app_section_margin{
  margin: 20px 0px;

}
@media screen and (max-width: 780px){
.app_section_margin{
  width: 100%;
  overflow-x: scroll;
  padding: 20px 0px;
}

.app_section_margin::-webkit-scrollbar {
  width: 5px; /* Set scrollbar width */
}

.app_section_margin::-webkit-scrollbar-thumb {
  background: #ffffff69; /* Set scrollbar thumb color */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
} 

.app_section_margin::-webkit-scrollbar-track {
  background: #ffffff; /* Set scrollbar track color */
}
.hashtags_button{
  min-width: 40%;
  padding: 9px 20px;
}
}
@media screen and (max-width: 480px){
  .hashtags_button{
    min-width: 60%;
    padding: 9px 20px;
  }
}
@media screen and (max-width: 999px){
  .hashtags_button{
    font-size: 12px;
    padding: 6px 17px;
  }
}
.brand_button:hover{
  background-color: #000000b8;
}
.icon_margin{
  margin: 0px 0px 0px 5px;
  font-style: 10px !important;
}
.productprice{
  position: absolute;
  top: 5px;
  left: 1px;  
  color: white;
  padding: 2px 10px 3px 10px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.productprice strong{
  background-color: black;
  padding: 6px 12px;
  border-radius: 5px;
}
.productprice date{
  background-color: black;
  padding: 6px 12px;
  border-radius: 5px;
}
.productprice .product_like{
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.productprice .product_like:hover{
transform: scale(1.2);
}
.gallerycol:hover .productprice{
  opacity: 100% !important;

}


.productdiscripation{
  font-size: 12px !important;
  color: #5a3e3ebf;
}
.cartitemname{
  font-size: 13px;
  margin: 5px 0px;
}
.dividecartitem{
  border-bottom: 1px solid #eee;
  position: relative;
  top: 100px;
}
.mt-ps100{
  
  position: relative;
  top: 100px;
}
.cart_action_button{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.set_width{
  width: 70%;
}
.decrementqty_btn{
  background: #eee;
    padding: 0px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.decrementqty_btn:hover{
  background-color: white;
  

}
.cart_continue_btn{
  background: black;
  border: none;
  height: fit-content !important;
  padding: 6px 21px 8px 20px !important;
  font-size: 13px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_divide {
  padding: 0px 15px 0px 15px !important;
}
.setslider{
  flex-wrap: nowrap !important;
  justify-content: center !important;
  overflow-x: auto !important;
  width: 100% !important;
  position: relative;
}
.setslider::-webkit-scrollbar {
  width: 5px; /* Set scrollbar width */
}

.setslider::-webkit-scrollbar-thumb {
  background: #ffffff69; /* Set scrollbar thumb color */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
} 

.setslider::-webkit-scrollbar-track {
  background: #ffffff; /* Set scrollbar track color */
}
.Slide_btn{
  top: 45%;
  left: 50%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 100%;
}
.prev_btn{
  background-color: white;
  font-weight: 700;
  cursor: pointer;
  animation: name duration timing-function delay iteration-count direction fill-mode;
padding: 10px 10px;
}
.coustom_padding{
  padding: 10px 10px 10px 10px !important;
}
.dialog_container_fluid{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 9999;
  display: flex !important;
  /* display: none; */
  transform: translate(0%, -120%);
  justify-content: center;
  transition: all 0.3s ease-in-out;
  align-items: center;
  background-color: #ffffffcf;

}
.dialog_container_fluid_show{
  transform: translate(0%, 0%);
  
}
.slidercol{
  transition:all 3s ease-in-out;
  animation-iteration-count:infinite;

  animation-name: productSilder;
  animation-duration: 4s;
}
@keyframes productSlider {
0%{
  transform: translate(-0%, 0%);
}  
25%{
  transform: translate(-200%, 0%);
}
50%{
  transform: translate(-300%, 0%);
}
75%{
  transform: translate(-380%, 0%);
}
100%{
  transform: translate(-0%, 0%);
}
/* transform: translate(-430%, 0%); */
}
.dialog_row{
  background-color:white;
    padding: 20px;
    outline: 2px solid #eee;
    border-radius: 10px;
}
.dialog_heading{
  font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}
.dialog_action_btn{
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.dialog_action_btn button{
  width: 45%;
}
.product_view_icon{
      background: #f4f4f4;
    padding: 10px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}
.list_view_cols{
  flex-direction: row !important; 
  align-items: flex-start;
  gap: 10px;
}
.list_view_product_image{
  width: 30% !important;

}
.list_view_action_button{
  justify-content: flex-start;
 
}
.list_view_action_button button{
  width: 15%;
  justify-content: center;
}
.list_view_action_button button i{
margin: 0px 0px 0px 10px !important;
}
.decrement-translateX {
  transform: translateX(-100px);
}
.increment-translateX {
  transform: translateX(100px);
}
.navbar-brand{
  display: flex;
    /* justify-content: center; */
    align-items: center;
  width: 30%  !important;
    border-radius: 146%;
    padding: 10px 0px !important;
}

.navbar-brand img{
  width: 70% !important;
}

.show_message_toast{
  font-size: 14px;
  width: 80% !important;
}
.app_product_headline{
  padding:0px 0px 10px 0px;
}
@media screen and (max-width : 480px){
  .app_product_headline{
    padding:0px 0px 0px 0px;

  }
}
@media screen and (max-width : 992px){
  .navbar_brand{
    justify-content: left;

  }
  .contains_likes_carts{
    width: 100% !important;
    gap: 0px 50px;
  }
  .like_inside_container{
    max-width: 90% !important;
  }
}

.toggle_outline_elemenet{
  
  visibility: hidden;
}
.app_header_main_content{
  width: 93%;
}
.contains_likes_carts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14%;
}
.app_navbar_like_containericon{
  border-radius: 50%;
  padding: 6px 12px;
  background: #ffff;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.animate_container{
  transition: all 0.2s ease-in-out;
  animation: scale 2s infinite;

}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
 
  }
}
.like_header_animation{
  animation: pulse 1s infinite;
  transition: none !important;
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    /* opacity: 1; */
    color: black;
  }
  100% {
    transform: scale(1.1);
    /* opacity: 0; */
    color: red;
  }
}

@keyframes bellanimation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width : 992px){
  .navbar_brand{
    justify-content: left;

  }
  .navbar_toggle_icon{
    font-size: 16px;
    font-weight: 800;
    /* padding: 5px 6px; */
    transition: all 0.2s ease-in-out;
    color: black;
  }
  .toggle_outline_elemenet{
    border: 1px solid #eee;
    background: white;
    visibility: visible;
    padding: 7px 13px 8px 13px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  
  }
  .icon_area{
    margin-right: auto;
  }
 
  .active_navbar{
    height: 100vh;
    position: fixed !important;
    top: 56px;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    bottom: 0;
    width: 100%;
    display: flex !important;
    background: white;
    flex-direction: column;
    padding: 0px 20px;
    gap: 20px;
  }
  .gallerycol{
    width: 48% !important;
  }
  .navbar-toggler{
    padding: 4px 6px !important;
    font-size: 14px !important;
  }
  .nav-item{
    width: fit-content;
  }
  .icon_area{
    background-color: #eee;
  
  }
  .icon_area i{
    color: black;
        }
      .icon_area span{
    color: black;
        }
  .mobile_list_view{
    width: 100% !important;
  }
  .empty_like_container{
    width: 100% !important;
    height: fit-content !important;
  }
  .user_likes_columns{
    align-items: center;
  }
  .user_favourite_items{
    width: 48% !important;
  }
}

@media screen and (min-width : 993px) and (max-width : 1199px){ 
  .gallerycol{
    width: 23% !important;
  }
  #ProductContainer{
    gap: 6px;
  }

}

@media screen and (max-width: 480px){
  .cart_container{
    max-width: 100% !important;
  }
  .cart_header{
    
    width: calc(100% - 0%);
    
  }
  .cart_footer{
    
    width: calc(100% - 0%);
    position: fixed !important;
    bottom: 0;
    
  }

}
@media screen and (min-width: 480px) and  (max-width: 780px){
  .cart_container{
    max-width: 50% !important;
  }
  .cart_header{
    width: calc(100% - 50.2%);
  }
  .cart_footer{
    width: calc(100% - 50.2%);
  }
}
@media screen and (min-width: 780px) and  (max-width: 999px){
  .cart_container{
    max-width: 30% !important;
  }
  .cart_header{
    width: calc(100% - 71.5%);
  }
  .cart_footer{
    width: calc(100% - 71.5%);
  }

}
/* blog cols content styles start here */

/* .blog_content_border{
  padding: 5px;

} */
.app_blog_text_content_cover{
  padding: 10px !important;
}
.app_blog_cover_container{
  border: 1px solid #eee;
  border-radius: 10px;
 

}
.blog_content_border:hover .productprice{
  opacity: 100%;

}
.app_blog_tag_container{
  display: flex;
    align-items: center;
    justify-content: left;
 
    flex-wrap: wrap;

}
.app_blog_tag_container span{
  margin-right: 10px;
  margin-top: 5px;
}
.blog_tags{
  font-size: 12px !important;
  color: #2c3e5b;
  font-weight: 700;
}
/* blog cols content styles end here */
/* empyty cart container cols content styles starts here */
.empty_cart_container{
 
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 17px;
}
.empty_like_container{
  display: flex;
cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  padding: 17px;
  width: 45%;
  background: white;
  margin: 20px 0px 0px 0px;
  border-radius: 20px;
}

/* empyty cart container cols content styles end here */
/* Targeting the img and a tags within the container with class 'gallerytitle' */
.blog_detail_top_image{
  border-radius: 5px;
}
.gallerytitle.productname.productdiscripation.blog_detail_content_img img {
  max-width: 100%;
  height: auto;
width: 100%;
border-radius: 5px;
  border: 1px solid #ccc; /* example style */
}
.gallerytitle.productname.productdiscripation.blog_detail_content_img video {
 width: 100% !important;
}

.gallerytitle.productname.productdiscripation.blog_detail_content_img a {
  color: #007bff; /* example style */
  text-decoration: none;
  font-size: 1rem;
}
 .gallerytitle.productname.productdiscripation.blog_detail_content_img{
  font-size: 12px !important;
  /* color: #5a3e3ebf !important; */
  line-height: 22px !important;
}
.footer_main_container{
  font-size: 14px !important;
  color: #5a3e3ebf !important;

  line-height: 22px !important;
}
.footer_main_container a{
  text-decoration: none !important;

}
.gallerytitle.productname.productdiscripation.blog_detail_content_img h2 , h3{
  color: black;
  font-weight: 700;
  line-height: 20px;
  margin: 20px 0px;
  line-height: 30px;
  text-transform: capitalize;
  font-size: 1.3rem;
}


.gallerytitle.productname.productdiscripation.blog_detail_content_img a:hover {
  text-decoration: none;
}

@media screen and (max-width : 780px){
  .list_view_action_button button{
width: 50%;
  }
  .list_view_action_button button{
width: 100% !important;
justify-content: space-between !important;
  }
  .list_view_product_image {
    width: 50% !important;
  }
  .list_view_detail_content{
    width: 50% !important;
  }
}
@media screen and (max-width : 480px){
   #ProductContainer{
    padding: 0px 10px;

  }
  #ProductContainer .gallerycol{
    width: 100% !important;
      }
      .user_favourite_items{
        width: 48% !important;
      }
    /* .list_view_action_button{
      flex-direction: column !important;
      gap: 5px;
    } */
}
.blog_detail_full_content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.app_detail_blog_container{
  display:flex;
  justify-content:center;
  align-items:center;
}
/* blog search bar in blog Page */
.blog_search_bar_container{
  display: none;
}
.blog_search_suggected_content{
  display: none;
}
.show_search{
  display: none;
}
.no_blog_search{
  display: none;
}
@media screen and (max-width: 400px){
  .no_blog_image_found_insearch{
    width: 100% !important;
  }
}
@media screen and (max-width: 680px){
  .blog_search_bar_container{
  width: 100%;
  display: block;
  padding: 15px 20px;
  background: #f8f9fa;
  /* margin-bottom: 20px; */
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  }
  .active_search{
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-size: 15px !important;
  }
  .blog_search_start .search_icon{
    font-size: 16px;
  }
  .search_text_container{
    font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  
  color: #5a3e3ebf;
  }
 
 
  .app_search_goicon{
    color: #edf2fa;
  }
  .blog_search_suggected_content{
    display: flex;
    gap: 4px;
    padding: 15px 10px !important;
    background: #f8f9fa;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
    transform: translate(0px, -350%);
    position:fixed;
    /* opacity: 0; */
   

  }
  .show_search{
    display: flex;
    gap: 4px;
    padding: 15px 10px !important;
    background: #f8f9fa;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-x: scroll;
    transform: translate(0%, 0%);
    opacity: 100;
  }
  .show_search::-webkit-scrollbar {
    width: 5px; /* Set scrollbar width */
  }
  
  .show_search::-webkit-scrollbar-thumb {
    background: #ffffff69; /* Set scrollbar thumb color */
    border-radius: 5px; /* Round the corners of the scrollbar thumb */
  } 
  
  .show_search::-webkit-scrollbar-track {
    background: #ffffff; /* Set scrollbar track color */
  }
  .suggested_content_text{
 background-color: #ffffff;
 padding: 10px;
 border-radius: 20px;
 font-size: 12px !important;
 color: #5a3e3ebf;
 font-weight: 600;
  }
  .active_search_pointer{
    background-color: black;
    color: white;
  }
  .no_blog_found_inblogsearch{
    display: flex;
  }
  /* blog details header icon */
.no_blog_search{
  display: flex ;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: #f8f9fa;

}
.search_not_found_button{
  padding: 12px 50px;
  border-radius: 50px;
  font-size: 15px;
  width: fit-content !important;
  font-weight: 500;
  font-family: "Roboto";
  color: white;
}
.btn-primary:active {
  background-color: #000000b8 !important; /* Active button color */
}
.f-16{
  font-size: 16px !important;
}
.no_blog_image_found_insearch{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #e7e7e763;
  border-radius: 30px !important;
  padding: 30px 80px !important; 

}
.f-70{
  font-size: 150px !important;
  
}

.make_png{
  mix-blend-mode: multiply;
}
}
/* blog details header icon */
.blog_detail_header_icon{
  left: 90%;
  bottom: 1%;
  position: fixed !important;
}
.blog_detail_header_icon i {
  font-size: 25px;
  cursor: pointer;
}


 /* introducing like for interaction */
 .product_like{
  position: absolute;
  right: 10px;
 }